.cards__url-heading {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 12px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
