.cards__item-paragraph {
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0;
  max-width: 484px;
}

.cards__item-paragraph:last-child {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .cards__item-paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}