.lead__title {
  max-width: 720px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 0;
}
@media screen and (max-width: 700px) {
  .lead__title {
    font-size: calc((100vw - 320px) / (700 - 320) * (96 - 40) + 16px);
    line-height: 44px;
  }
}
