.intro {
    margin: 92px 148px;
   
    /*padding-left: 148px;
    padding-right: 442px;*/
    
}
@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 48px;
    }
}
@media screen and (max-width: 700px) {
    .intro {
        margin-top: 64px;
    }
}