.footer {
    background-color: #2a2c2f;
    padding-top: 92px;
    max-width: 1184px;
    margin: 0 48px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-top: 64px;
        margin: 0 16px;
        flex-direction: column;
    }
}