.footer {
    background-color: #2A2C2F;
    padding-top: 92px;
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 24px;
    /*padding-left: 48px;
    padding-right: 48px;*/
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .footer {
    margin: 0 24px;
    }
    
}
@media screen and (max-width: 320px) {
.footer {
   margin: 0 16px;
   flex-direction: column;
}
}